@{
    ViewData["Title"] = "Home";
}
<h1>QuestBoard</h1>
<p>Welcome! Use the links below to manage data.</p>
<ul>
    <li><a href="/Games">Games</a></li>
    <li><a href="/Players">Players</a></li>
    <li><a href="/Quests">Quests</a></li>
</ul>
